<html>
  <head>
    <title>Blackjack!!</title>
    <link rel="stylesheet" href="styles/game.css">
  </head>
  <body>
    <h1>Your bank: </h1>
    <h1 id="amount"><%= amount %></h1>
    <canvas></canvas>
  </body>
  <script src='game.js'></script>
</html>