<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body>
    <form action="/start" method="GET">
      <p>Amount Start:</p>
      <br>
      <input name="amount">
      <button type="submit">Go</button>
    </form>
  </body>
</html>